<!DOCTYPE html>
<html lang="en">
<!-- Design for this website was inspired by https://skibidi.cash -->

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Wallet Semantic Search</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">

  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
</head>

<body class="bg-black text-white font-mono">
  <div class="max-w-3xl mx-auto p-6 space-y-10">
    <header class="text-center">
      <h1 class="text-4xl md:text-6xl font-bold text-pink-500">Wallet Semantic Search</h1>
      <p class="mt-4 text-xl text-gray-300">A semantic search engine for Bitcoin wallets</p>
    </header>
    <section>
      <div class="mt-4">
        <h2 class="font-bold text-lg text-yellow-200 mb-1">🔀 How it works</h2>
        <ul class="list-disc ml-6 text-gray-300 space-y-2">
          <li>Select a wallet from the dropdown</li>
          <li>Type in a question about the wallet</li>
          <li>Get an answer</li>
          <p class="mt-2 text-gray-400 text-sm">
            Under the hood, we use fancy vector embeddings to find the most relevant answers.
          </p>
      </div>
    </section>
    <section>
      <h2 class="text-2xl font-bold text-green-400">Search Anything About a Bitcoin supported Wallet</h2>
      <div class="mt-2 text-gray-300 flex flex-row" id="search-wrapper">
        <div class="card" id="wallets-wrapper">
          <div class="text-black p-2">
            <select name="selected_wallet" id="selected_wallet">
              {% for wallet in wallets %}
              <option value="{{ wallet }}">{{ wallet }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="p-2">
          <div class="mb-4 text-black">
            <input type="text" class="form-control" name="user_input" placeholder="Search Something" required>
          </div>
        </div>
        <div class="p-2">
          <button
            class="bg-green-900 hover:bg-green-800 text-white font-bold py-2 px-4 rounded transition-colors duration-200"
            hx-post="{{ url_for('submit') }}" hx-trigger="click" hx-target="#search-results" hx-swap="outerHTML"
            hx-include="[name='user_input'], [name='selected_wallet']" hx-on:htmx:after-swap="highlightCode()">
            Search
          </button>
        </div>
      </div>
    </section>
    <section>
      <h2 class="text-2xl font-bold text-green-400">Search Results</h2>
      <div id="search-results">

      </div>
    </section>
    <footer class="text-center text-sm text-gray-500 border-t border-gray-700 pt-4">
      &copy; 2025 Wallet Semantic Search. All rights reserved.
    </footer>
  </div>
</body>

<script defer>
  function highlightCode() {
    console.log('highlightCode');
    const codeBlocks = document.querySelectorAll('pre code');
    codeBlocks.forEach(block => {
      console.log(block);
      hljs.highlightElement(block);
    });
  }

  window.document.body.addEventListener('htmx:afterSwap', function (event) {
    highlightCode();
  });
</script>

</html>